<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add connectionString="Data Source=DESKTOP-P3F9CQU\SQLEXPRESS;Initial Catalog=SmartSchool;User Id=cristi12;Password=1234;"
			name="myConStr"/>
	</connectionStrings>
</configuration>